@model DataLib.Entities.API
@{
    ViewData["Title"] = "Tablero principal";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
@{
    int reserve = Model.TimeSpentOperations.Count();

    List<DataLib.Entities.TimeSpentOperations> list = Model.TimeSpentOperations.ToList();
    int[] ids = new int[] { 31, 2, 3, 4, 5, 6, 7, 8, 9,
        10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 32, 24, 25, 26, 27, 28, 29, 30 };
}
<meta http-equiv="refresh" content="120">
<form role="form" id="quickForm" asp-action="Index">
    <div class="card-body">
        <div class="row col-md-12">
            <!-- Parking Area -->
            @{int i = 1; }
            @foreach (int id in ids)
            {
                @if (reserve > 0 && list.Exists(x => x.location_id == id))
                {
                    <div id="GetClass-@list.Find(x => x.location_id == id).location_id" data-id="@list.Find(x => x.location_id == id).location_id" data-toggle="tooltip" title="" onclick="DataTooltip('@list.Find(x => x.location_id == id).asset_id','@list.Find(x => x.location_id == id).location_name')"></div>
                }
                else
                {
                    <div id="Booked-@i" data-id="@i" data-toggle="tooltip" title="" onclick="DataTooltip()"></div>
                }
                i++;
            }

        </div>

    </div>

    <!-- Modals -->
    <div class="modal fade" id="AccountModel" tabindex="-1" role="dialog" aria-labelledby="AccountModel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AccountModel">Detalles del Activo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtLocation" class="control-label">Ubicación</label>
                        <input type="text" id="txtLocation" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtAssetId" class="control-label">ID del Activo</label>
                        <input type="text" id="txtAssetId" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="submit" id="save" class="btn btn-primary" onclick="Save()">Save changes</button>
                        <button class="btn btn-danger" id="close" type="button" data-dismiss="modal">Close</button>*@
                    <span class="btn btn-warning" id="occupied">Occupied</span>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="tbllayout" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Area</th>
                    <th>Body</th>
                    <th>Seq</th>
                    <th>Offline Time</th>
                    <th>OTD</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.Example.ICS_DATA)
                {
                    @foreach (var item in Model.TimeSpentOperations.Where(x=>x.asset_id == items.DATA.VIN))
                    {
                        int min = item.total_minutes;
                        TimeSpan elapsedTime = new TimeSpan(0, min, 0);
                        int day = elapsedTime.Days;
                        int hour = elapsedTime.Hours;
                        int mint = elapsedTime.Minutes;
                        string minutes = "";
                        if (item.total_minutes <= 60)
                        {
                            minutes = string.Format("{0} minutes", mint);
                        }
                        if (item.total_minutes > 60 && item.total_minutes <= 72)
                        {
                            minutes = string.Format("{0} hour {1} minutes", hour, mint);
                        }
                        if (item.total_minutes > 72)
                        {
                            minutes = string.Format("{0} day {1} hours", day, hour);
                        }

                        <tr style='background-color: @(hour >= 2 ? "#ffcccb" : "white");'>
                            <td>@item.asset_id</td>
                            <td><span class="badge badge-primary">@item.location_name</span></td>
                            <td>@items.DATA.BODY_NUM</td>
                            <td>@items.DATA.SEQ_NUM</td>
                            <td>@minutes</td>
                            <td>@items.DATA.OUTSIDE</td>
                        </tr>
                    }
                }
                    </tbody>
        </table>
        <!-- /.card -->
    </div>
</form>
<style>
    .ParkingPlace {
        height: 70px;
        width: 32px;
        margin-left: 5px;
        background-color: #555;
    }

    .ParkingPlaceOccupie {
        height: 70px;
        width: 32px;
        margin-left: 5px;
        background-color: #126fa5;
    }

    .ParkingArea {
        height: 140px;
        width: 110px;
        margin-left: 5px;
        background-color: #555;
    }

    .ParkingAreaOccupie {
        height: 140px;
        width: 110px;
        margin-left: 5px;
        background-color: #3ca0da;
    }

    .ParkingAreaHorizontal {
        height: 70px;
        width: 125px;
        background-color: #555;
    }

    .ParkingAreaHorizontalOccupie {
        height: 70px;
        width: 125px;
        background-color: #3ca0da;
    }

    .ParkingPlaceHorizontal {
        margin-top: 5px;
        height: 32px;
        width: 80px;
        margin-left: 45px;
        background-color: #555;
    }

    .ParkingPlaceHorizontalOccupie {
        margin-top: 5px;
        height: 32px;
        width: 80px;
        margin-left: 45px;
        background-color: #126fa5;
    }
</style>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#GetClass-31").attr("data-id") == 31) {
                $("#GetClass-31").addClass("ParkingAreaOccupie");
            }
            if ($("#GetClass-1").attr("data-id") == 1) {
                $("#GetClass-1").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-2").attr("data-id") == 2) {
                $("#GetClass-2").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-3").attr("data-id") == 3) {
                $("#GetClass-3").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-4").attr("data-id") == 4) {
                $("#GetClass-4").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-5").attr("data-id") == 5) {
                $("#GetClass-5").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-6").attr("data-id") == 6) {
                $("#GetClass-6").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-7").attr("data-id") == 7) {
                $("#GetClass-7").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-8").attr("data-id") == 8) {
                $("#GetClass-8").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-9").attr("data-id") == 9) {
                $("#GetClass-9").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-10").attr("data-id") == 10) {
                $("#GetClass-10").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-11").attr("data-id") == 11) {
                $("#GetClass-11").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-12").attr("data-id") == 12) {
                $("#GetClass-12").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-13").attr("data-id") == 13) {
                $("#GetClass-13").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-14").attr("data-id") == 14) {
                $("#GetClass-14").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-15").attr("data-id") == 15) {
                $("#GetClass-15").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-16").attr("data-id") == 16) {
                $("#GetClass-16").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-17").attr("data-id") == 17) {
                $("#GetClass-17").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-18").attr("data-id") == 18) {
                $("#GetClass-18").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-19").attr("data-id") == 19) {
                $("#GetClass-19").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-20").attr("data-id") == 20) {
                $("#GetClass-20").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-21").attr("data-id") == 21) {
                $("#GetClass-21").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-22").attr("data-id") == 22) {
                $("#GetClass-22").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-23").attr("data-id") == 23) {
                $("#GetClass-23").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-24").attr("data-id") == 24) {
                $("#GetClass-24").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-25").attr("data-id") == 25) {
                $("#GetClass-25").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-26").attr("data-id") == 26) {
                $("#GetClass-26").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-27").attr("data-id") == 27) {
                $("#GetClass-27").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-28").attr("data-id") == 28) {
                $("#GetClass-28").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-29").attr("data-id") == 29) {
                $("#GetClass-29").addClass("ParkingPlaceOccupie");
            }
            if ($("#GetClass-30").attr("data-id") == 30) {
                $("#GetClass-30").addClass("ParkingPlaceOccupie");
            }
            ///////////////////////////////////////////////////////////////
            if ($("#Booked-2").attr("data-id") == 2) {
                $("#Booked-2").addClass("ParkingPlace");
            }
            if ($("#Booked-3").attr("data-id") == 3) {
                $("#Booked-3").addClass("ParkingPlace");
            }
            if ($("#Booked-4").attr("data-id") == 4) {
                $("#Booked-4").addClass("ParkingPlace");
            }
            if ($("#Booked-5").attr("data-id") == 5) {
                $("#Booked-5").addClass("ParkingPlace");
            }
            if ($("#Booked-6").attr("data-id") == 6) {
                $("#Booked-6").addClass("ParkingPlace");
            }
            if ($("#Booked-7").attr("data-id") == 7) {
                $("#Booked-7").addClass("ParkingPlace");
            }
            if ($("#Booked-8").attr("data-id") == 8) {
                $("#Booked-8").addClass("ParkingPlace");
            }
            if ($("#Booked-9").attr("data-id") == 9) {
                $("#Booked-9").addClass("ParkingPlace");
            }
            if ($("#Booked-10").attr("data-id") == 10) {
                $("#Booked-10").addClass("ParkingPlace");
            }
            if ($("#Booked-11").attr("data-id") == 11) {
                $("#Booked-11").addClass("ParkingPlace");
            }
            if ($("#Booked-12").attr("data-id") == 12) {
                $("#Booked-12").addClass("ParkingPlace");
            }
            if ($("#Booked-13").attr("data-id") == 13) {
                $("#Booked-13").addClass("ParkingPlace");
            }
            if ($("#Booked-14").attr("data-id") == 14) {
                $("#Booked-14").addClass("ParkingPlace");
            }
            if ($("#Booked-15").attr("data-id") == 15) {
                $("#Booked-15").addClass("ParkingPlace");
            }
            if ($("#Booked-16").attr("data-id") == 16) {
                $("#Booked-16").addClass("ParkingPlace");
            }
            if ($("#Booked-17").attr("data-id") == 17) {
                $("#Booked-17").addClass("ParkingPlace");
            }
            if ($("#Booked-18").attr("data-id") == 18) {
                $("#Booked-18").addClass("ParkingPlace");
            }
            if ($("#Booked-19").attr("data-id") == 19) {
                $("#Booked-19").addClass("ParkingPlace");
            }
            if ($("#Booked-20").attr("data-id") == 20) {
                $("#Booked-20").addClass("ParkingPlace");
            }
            if ($("#Booked-21").attr("data-id") == 21) {
                $("#Booked-21").addClass("ParkingPlace");
            }
            if ($("#Booked-22").attr("data-id") == 22) {
                $("#Booked-22").addClass("ParkingPlace");
            }
            if ($("#Booked-23").attr("data-id") == 23) {
                $("#Booked-23").addClass("ParkingPlace");
            }
            if ($("#Booked-24").attr("data-id") == 24) {
                $("#Booked-24").addClass("ParkingPlace");
            }
            if ($("#Booked-25").attr("data-id") == 25) {
                $("#Booked-25").addClass("ParkingPlace");
            }
            if ($("#Booked-26").attr("data-id") == 26) {
                $("#Booked-26").addClass("ParkingPlace");
            }
            if ($("#Booked-27").attr("data-id") == 27) {
                $("#Booked-27").addClass("ParkingPlace");
            }
            if ($("#Booked-28").attr("data-id") == 28) {
                $("#Booked-28").addClass("ParkingPlace");
            }
            if ($("#Booked-29").attr("data-id") == 29) {
                $("#Booked-29").addClass("ParkingPlace");
            }
            if ($("#Booked-30").attr("data-id") == 30) {
                $("#Booked-30").addClass("ParkingPlace");
            }
        })
        function DataTooltip(AssetID, LocationName) {
            if (AssetID == undefined) {
                $('#txtAssetId').val('');
                $('#txtLocation').val('');
                $('#save').show('fast');
                $('#close').show('fast');
                $('#occupied').hide('fast');
                $('#AccountModel').modal('show');
            } else {
                $('#txtAssetId').val(AssetID);
                $('#txtLocation').val(LocationName);
                $('#occupied').show('fast');
                $('#save').hide('fast');
                $('#close').hide('fast');
                $('#AccountModel').modal('show');
            }
        }
        $(function () {
            var tbllayout = $('#tbllayout').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            var pageInfo = tbllayout.page.info(),

                // Set the ending interval to the last page
                endInt = pageInfo.end,

                // Current page
                currentInt = 0,

                // Start an interval to go to the "next" page every 3 seconds
                interval = setInterval(function () {
                    // "Next" ...
                    tbllayout.page(currentInt).draw('page');

                    // Increment the current page int
                    currentInt++;

                    // If were on the last page, reset the currentInt to the first page #
                    if (currentInt === endInt)
                        currentInt = 0;

                }, 2000); // 2 seconds
        });
    </script>
}
