@model DataLib.Entities.API
@{
    ViewData["Title"] = "Operations Report";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
<form role="form" id="quickForm" asp-action="OperationReport">
    <div class="card-body">
        <form action="@Url.Action("Home","OperationReport")" method="post">
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="fromdate" class="control-label">From Date</label>
                    <input type="date" id="fromdate" name="FromDate" required class="form-control" value="@ViewData["FromDate"]" />
                </div>
                <div class="col-md-2">
                    <label for="todate" class="control-label">To Date</label>
                    <input type="date" id="todate" name="ToDate" required class="form-control" value="@ViewData["ToDate"]" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success" style="margin-top:31px;">Search &nbsp;<i class="fas fa-search"> </i></button>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <div id="buttons" class="text-center m-0"></div>
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbloperation" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Body</th>
                                <th>Seq</th>
                                <th>Place</th>
                                <th>Area</th>
                                <th>Conditions</th>
                                <th>Status</th>
                                <th>Offline Time</th>
                                <th>OTD</th>
                            </tr>
                        </thead>
                        <tbody>
                            @try
                            {
                                @foreach (var item in Model.TimeSpent)
                                {
                                    @foreach (var items in Model.Example.ICS_DATA)
                                    {
                                        int min = item.minutes_from_now;
                                        TimeSpan elapsedTime = new TimeSpan(0, min, 0);
                                        int day = elapsedTime.Days;
                                        int hour = elapsedTime.Hours;
                                        int mint = elapsedTime.Minutes;
                                        string minutes = "";
                                        if (item.minutes_from_now <= 60)
                                        {
                                            minutes = string.Format("{0} minutes", mint);
                                        }
                                        if (item.minutes_from_now > 60 && item.minutes_from_now <= 72)
                                        {
                                            minutes = string.Format("{0} hour {1} minutes", hour, mint);
                                        }
                                        if (item.minutes_from_now > 72)
                                        {
                                            minutes = string.Format("{0} day {1} hours", day, hour);
                                        }
                                        var body_num = "";
                                        var seq_num = "";
                                        var conditions = "";
                                        string outside = "";
                                        @if (items.DATA.BODY_NUM != "")
                                        {
                                            body_num = items.DATA.BODY_NUM;
                                        }
                                        else
                                        {
                                            body_num = "-------------------";
                                        }
                                        @if (items.DATA.SEQ_NUM != "")
                                        {
                                            seq_num = items.DATA.SEQ_NUM;
                                        }
                                        else
                                        {
                                            seq_num = "-------------------";
                                        }
                                        @if (items.DATA.CONDITIONS != "")
                                        {
                                            conditions = items.DATA.CONDITIONS;
                                        }
                                        else
                                        {
                                            conditions = "-------------------";
                                        }
                                        @if (items.DATA.OUTSIDE != null)
                                        {
                                            outside = items.DATA.OUTSIDE.ToString();
                                        }
                                        else
                                        {
                                            outside = "-------------------";
                                        }
                                        <tr style='background-color: @(hour >= 2 ? "#ffcccb" : "white");'>

                                            <td>@items.DATA.BODY_NUM</td>
                                            <td>@items.DATA.SEQ_NUM</td>
                                            <td>@item.location_id</td>
                                            <td><span class="badge badge-primary">@item.location_name</span></td>
                                            <td>@items.DATA.CONDITIONS</td>
                                            <td><span class="badge badge-secondary"><big>WAITING</big></span></td>
                                            <td>@minutes</td>
                                            <td>@items.DATA.OUTSIDE</td>
                                        </tr>
                                    }
                                }
                            }
                            catch(Exception)
                            {
                                <tr>
                                    <td colspan="8">No Data Found</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>

        function Searchdata() {

            var fromdate = $('#fromdate').val();
            var todate = $('#todate').val();
            $.ajax({
                type: "POST",
                url: '/Home/SearchtimeSpent',
                data: {
                    FromDate: fromdate,
                    ToDate: todate,
                },
                dataType: "json",
                success: function (data) {
                    alert(data);
                    if (data !== null) {

                    }
                    //alert("Data Export Successfuly");
                    //location.reload();

                },
                error: function (x) {
                    alert("Sorry Somthing Wrong");
                }

            })
        }
        var tbloperation = $('#tbloperation').DataTable({
            "responsive": true,
            "autoWidth": false,
            "processing": true,
            "bProcessing": true,
            "order": [],
            "pageLength": 10,
            "lengthChange": true,
            "lengthMenu": [
                [10, 100, 1000, -1],
                [10, 100, 1000, "All"]
            ],
        });
        var buttons = new $.fn.dataTable.Buttons(tbloperation, {
            buttons: [{
                extend: 'excelHtml5',
                title: 'Excel',
                text: 'Export as excel',
                className: 'bg-info btn-xs border-0 m-1',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7]
                }
            },
            ]
        }).container().appendTo($('#buttons'));
    </script>
}
